.box {
    border: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#one {
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
}

#two {
    width: 75vw;
    height: 75vh;
}

#three {
    width: 50vw;
    height: 50vh;
}

#four {
    width: 25vw;
    height: 25vh;
}